.supergraphic {
    background-image: url("./supergraphic.svg");
    height: 2vh;
    width: 100%;
    background-repeat: no-repeat;
    background-size: cover;
}

.logo {
    background-image: url("./logo.svg");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    height: 10vh;
    width: 20%;
}

footer {
    position: absolute;
    bottom: 0;
    left: 0;
    bottom: 0;
    width: 100%;
}

.line{
    align-items: center;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    font-weight: 600;
    font-size: 1.5vw;
    padding-inline: 3%;
}


.back{
    background-color: transparent;
    border: none;
    width: auto;
}

.footer{
    position: absolute;
}