.form {
    width: 15%;
    margin: 0 auto;
}

.cadastrar {
    border: 1px solid rgb(177, 177, 177);
    border-radius: 1vw;
    padding-inline: 1vw;
    padding-block: .5vw;
    color: black;
    text-align: center;
    font-size: 1vw;
   
}

.t {
    font-weight: 700;
    font-size: 1.5vw;
    text-align: center;
    margin-bottom: 5%;
    margin-top: 5%;
}


.select {
    font-size: .8vw;
}

.btt {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 2.5vw;
}

.qtd{
    color: gray;
}

.line{
    display: flex;
    flex-direction: row;
}

.forms{
    width: 55%;
    margin: 0 auto;
}

.f {
    margin-bottom: 3vw;
}