.new{
    font-size: 18px;
    padding: .5em;
    width: 15%;
    justify-content: space-around;
    color: black;
    border-radius: 15px;
    border: 1px solid black;
    float: right;
}

.delete{
    background-color: #F01515;
    padding: .2em;
    padding-inline: 1em;
    color: white;
    border-radius: 5px;
    margin-left: 1em;
}


.edit{
    background-color: #00A4C7;
    padding: .2em;
    padding-inline: 1em;
    color: white;
    border-radius: 5px;

}

