form{
    font-size: x-large;
}

.all{
    display: flex;
    width: 100%;
    justify-content: space-around;
}


.cadastrar{
    border: 1px solid black;
    border-radius: 15px;
    padding-inline: 1em;
    padding-block: .5em;
    color: black;
    align-self: center;
}