* {
    padding: 0;
    margin: 0;
}

.body {
    background-color: #467FEF;
    height: 100vh;
}

.container {
    background-color: white;
    border-radius: 1em;
    width: 40%;
    margin: 0 auto;
    padding-bottom: 6em;
    position: relative;
    top: 50%;
    transform: translateY(-50%);
}

.supergraphic {
    background-image: url("./supergraphic.svg");
    height: 25px;
    width: 100%;
    background-repeat: no-repeat;
    background-size: cover;

}

.logo {
    background-image: url("./logo.svg");
    height: 100px;
}

.logo {
    background-image: url("./logo.svg");
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
}


.butt {
    padding-inline: 1em;
    padding-block: .5em;
    background-color: white;
    border: 1px solid black;
    border-radius: .5em;
    margin: 0 auto;
    display: flex;
    margin-top: 3em;
    font-size: 1vw !important;
    width: 45%;
    justify-content: center;
    background-color: #dbdbdb;
    font-weight: bolder;
}

.butt:hover{
    background-color: #a0a0a0;
}

.forms {
    width: 45%;
    font-size: 1vw;
    margin: 0 auto;
    color: #898989;
}

.Label {
    margin-top: 3em;
}

input {
    font-size: 1.5vw;
    margin-top: .5em;
    width: 100%;
    padding-block: .2em;
    border-radius: .5em;
    border: 1px solid gray;
}

a{
    text-decoration: none;
}

a:hover{
    color: black;
    text-decoration: none;
}

