table{
    font-size: xx-large;
}

.filter{
    background-color: transparent;
    border: none;
    float: right;
    font-size: 25px;
    color: black;
}

.filter:hover{
    color: rgb(65, 65, 65);
    background-color: transparent;
    border: none;
}

.pages{
    justify-content: center;
    margin: 0 auto;
    display: flex;
    margin-top: 2em;
}

.pages button{
    background-color: transparent;
    margin-inline: 1em;
    border: none;
    font-size: 15px;
}

table th{
    font-size: 20px;
}

.rec{
    width: 50%;
    margin: 0 auto;
}

.dialog {
    max-width: 20rem;
    padding: 2rem;
    border: 0;
    border-radius: 0.5rem;
    box-shadow: hsl(0 0% 0% / 10%) 0 0 0.5rem 0.25rem;
    position: relative;
  }