.filter {
    background-color: transparent;
    border: none;
    float: right;
    font-size: 1.2vw;
    color: black;
}

.filter:hover {
    color: rgb(65, 65, 65);
    background-color: transparent;
    border: none;
}

.pages {
    justify-content: center;
    margin: 0 auto;
    display: flex;
    margin-top: 2%;
}

.pages button {
    background-color: transparent;
    margin-inline: 2%;
    border: none;
    font-size: 1vw;
}

table th {
    font-size: 1vw;
}

.rec {
    width: 50%;
    margin: 0 auto;
}

.dialog {
    max-width: 10vw;
    border: 0;
    border-radius: 0.5vw;
    box-shadow: hsl(0 0% 0% / 10%) 0 0 0.5rem 0.25rem;
    position: relative;
}

.t {
    font-weight: 700;
    font-size: 1.5vw;
    text-align: center;
    margin-bottom: 5vw;
    margin-top: 3vw;
}